* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: bold;
    font-size: 20px;
}

header {
    margin-top: 100px;
    margin-bottom: 30px;
}

.line-break {
    width: 200px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}

.input {
    margin-bottom: 30px;
}

input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

p {
    font-weight: bold;
    font-size: 20px;
}